{{ define "main" }}
  <main>
    <section>
      {{ .Content }}
    </section>
    <section>
      <h2>Recent Projects</h2>
      <ul>
        {{ range first 5 (where .Site.RegularPages "Section" "projects") }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ with .Date }} - added {{ .Format "Jan 2, 2006" }}{{ end }}
          </li>
        {{ end }}
      </ul>
      <a href="/projects/">View all projects →</a>
    </section>
    <section>
      <h2>Recent Blog Posts</h2>
      <ul>
        {{ range first 5 (where .Site.RegularPages "Section" "posts") }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a> - {{ .Date.Format "Jan 2, 2006" }}
          </li>
        {{ end }}
      </ul>
      <a href="/posts/">View all posts →</a>
    </section>
  </main>
{{ end }}
